<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51678438138-9bjt6hh0r4v2ph6q5oh8ls38s7pns7u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51678438138-9bjt6hh0r4v2ph6q5oh8ls38s7pns7u3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51678438138-0plnbsf8ufqghafka8n2bkrdnmd11gq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGPYDqow1_tYjX_NiHVrD0vAYtl-sUcVI</string>
	<key>GCM_SENDER_ID</key>
	<string>51678438138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pivotculinary.mobile</string>
	<key>PROJECT_ID</key>
	<string>pivot-culinary</string>
	<key>STORAGE_BUCKET</key>
	<string>pivot-culinary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51678438138:ios:a7bee92f37a6eba678df43</string>
	<key>DATABASE_URL</key>
	<string>https://pivot-culinary-default-rtdb.firebaseio.com</string>
</dict>
</plist>